
.home{
    transform: translate(0px,265px);
    width:auto;
    margin:auto;
    position: fixed;
}
.register{
    padding:650px;
    font-size: 30px;
   padding-bottom: 650px;
    color:black;
}
.move{
    font-size: 30px;
   color:black;
}
.body{

 background-image: url("../../images/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}